/**** FONTS ****/
@font-face {
    font-family: 'butchregular';
    src: url('fonts/butch-webfont.eot');
    src: url('fonts/butch-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/butch-webfont.woff2') format('woff2'),
         url('fonts/butch-webfont.woff') format('woff'),
         url('fonts/butch-webfont.ttf') format('truetype'),
         url('fonts/butch-webfont.svg#butchregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/**** VARS ****/

// Layers
$sunLayer: 50;
$manLayer: 60;
$treeLayer: 70;

$uiLayer: 1000;


/**** BASE CSS ****/
*{
	box-sizing: border-box;
}
html, body{
	height: 100%;
	width: 100%;

	padding: 0;
	margin: 0;
	overflow: hidden;

	background: #fff;

	font-family: 'butchregular';
}
$borderWidth: 40px;
html{
	/*border: $borderWidth solid #000;*/
}

body{
	/*position: absolute;
	top: $borderWidth;
	left: $borderWidth;
	right: $borderWidth;
	bottom: $borderWidth;*/
}

h2{
	font-weight: 400;
	font-size: 2.5rem;
}


@mixin viewportRatio($x, $y) {
  width: 100vw;
  height: $y * 100vw / $x;
  max-width: $x / $y * 100vh;
  max-height: 100vh;
}
#scene{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	margin: 0 auto;
	overflow: hidden;

	@include viewportRatio(16,9);
}
h1{
	position: absolute;
	top: 20px;
	right: 20px;

	margin: 0;

	font-size: 48px;
	font-family: Lato;
	font-weight: 100;
	text-transform: lowercase;
}


/**** GAME UI ****/
$wordFontSize: 3rem; //7rem;
$uiPadding: 2rem;
#ui{
	position: absolute;
	top: 50%;
	left: 0;
	width: 40%;
	transform: translateY(-50%);

	padding: $uiPadding;

	//background: rgba(red, 0.2);

	z-index: $uiLayer;

	// The word
	.word{
		.underscores{
			font-size: $wordFontSize;
			span{
				margin: 0;
				margin-right: 0.2em * 2;
			}
		}
	}
	// The clue
	.clue{
		margin-top: 2rem;
	
		color: #fff;

		margin-left: -$uiPadding;
		padding: $uiPadding;

		background-image: url(./img/texture1.svg);
		background-position: center;
		background-size: 100% auto;
		background-repeat: no-repeat;
		&-title{
			font-size: 2rem;
		}
		&-text{
			font-size: 2.5rem;
		}
		&-title, &-text{
			margin: 0;
			margin-left: 1rem;
			font-weight: 400;
		}
	}
	// Guess letter
	.guess-letter{
		margin-left: 1rem;
		h2{
			margin: 0;
			margin-top: 3rem;
		}
		&-input{
			height: 10rem;
			width: 10rem;

			text-align: center;
			font-size: $wordFontSize;
			font-family: inherit;

			background: none;
			background-image: url(./img/texture2.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100% auto;
		}
	}
	// Guesses
	.guesses{
		$guessesSize: 5rem;		
		.guess{
			position: absolute;
			bottom: 10%;
			height: $guessesSize;
			width: $guessesSize;
			left: 50%;

			background: none;
			background-image: url(./img/texture3.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100% auto;
			&:nth-child(1){
				
			}
			&:nth-child(2){
				margin-left: ($guessesSize + 1rem);
			}
			&:nth-child(3){
				margin-left: ($guessesSize + 1rem) * 2;
			}
			&:nth-child(4){
				margin-left: ($guessesSize + 1rem) * 3;
			}
			&:nth-child(5){
				margin-left: ($guessesSize + 1rem) * 4;
			}
		}
	}
}

// Question number
.question-number{
	position: absolute;
	left: 5%;
	bottom: 5%;
	font-size: 2rem;
}

// Letter
.letter{
	position: absolute;
	font-size: $wordFontSize;
	color: #fff;

    mix-blend-mode: difference;
}

// Lose screen
.lost, .won{
	position: absolute;

	text-align: center;

	color: #000;
	z-index: $uiLayer + 10;

	padding: 2rem 4rem 0.5rem 4rem;
	background-image: url(./img/texture4.svg);
	background-position: center;
	background-size: auto 100%;
	background-repeat: no-repeat;

	bottom: 10%;
	right: 0;
	opacity: 0;
	transform: translateX(100%);
	transition: all 1s ease-in-out;
	&.active{
		transform: translateX(-50%);
		opacity: 1;
	}
	h2{
		margin: 0;
		font-size: 4rem;
	}
	button{
		border: 0;
		outline: 0;
		padding: 0;
		margin: 0;
		background: none;

		font-family: inherit;
		color: #fff;
		font-size: 3rem;
		padding: 4rem;

		background-image: url(./img/texture5.svg);
		background-position: center;
		background-size: 100% auto;
		background-repeat: no-repeat;

		cursor: pointer;
	}
}

/**** ITEMS ****/

// Sun
//$sunSize: 40vh;
.sun{
	position: absolute;
	background: #f8f833;
	/*width: $sunSize;
	height: $sunSize;*/
	border-radius: 50%;
	
	top: 50%;
	left: 50%;
	
	margin-left: 0;
	//margin-top: 20vh;

	transform: translateX(-50%)
			   translateY(-50%);

	z-index: $sunLayer;
}

// Tree
.tree{
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-image: url(./img/tree.svg);
	background-size: auto 100%;
	background-position: 90% bottom;
	background-repeat: no-repeat;

	z-index: $treeLayer;
}

// Man
.man{
	position: absolute;
	width: 10px;
	height: 10px;

	z-index: 10000;
}
.rope{
	position: absolute;
	top: 0;
	left: 0;

	height: 394px;
	width: 18px;

	background-image: url(./img/man/rope.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;

	transform-origin: center top;
	
	.body{
		position: absolute;

		width: 164px;
		height: 661px;

		top: 100%;
		left: -164px * 0.5;

		background-image: url(./img/man/body.png);
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;

		transition: top 0.4s;
		&.dead{
			top: 110%;
		}
		.head{
			position: absolute;

			width: 126px;
			height: 164px;

			top: -164px + 25px; // + offset
			left: 0;

			background-image: url(./img/man/head.png);
			background-size: 100%;
			background-position: center;
			background-repeat: no-repeat;

			transform-origin: center bottom;

			// Test
			transform: rotate(-0deg); // -20deg
		}
		.feet{
			position: absolute;

			width: 143px;
			height: 98px;

			margin-top: -25px;
			top: 100%; // + offset
			left: 10px;

			background-image: url(./img/man/feet.png);
			background-size: 100%;
			background-position: center;
			background-repeat: no-repeat;

			transform-origin: center top;

			// Test
			transform: rotate(-0deg); // -20deg
		}
		.chair{
			position: absolute;

			width: 196px;
			height: 208px;
			
			margin-top: 10px;
			top: 100%; // + offset
			left: -15px;

			background-image: url(./img/man/chair.png);
			background-size: 100%;
			background-position: center;
			background-repeat: no-repeat;

			transform-origin: right bottom;

			transition: all 0.4s;

			// Test
			transform: rotate(0deg); // 45deg

			// States
			&.pushed{
				transform: rotate(80deg)
						   translate(100%, 100%);
			}
		}
	}
}